.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: var(--white);
}

.btn:hover {
    color: var(--grey-1);
}

.btn--primary {
    background-image: linear-gradient(to bottom, var(--color-primary), var(--color-primary-darken));
}

.btn--primary:hover {
    background-image: linear-gradient(to top, var(--color-primary), var(--color-primary-darken));
}

.btn--secondary {
    background-image: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary-darken));
}

.btn--secondary:hover {
    background-image: linear-gradient(to top, var(--color-secondary), var(--color-secondary-darken));
}

.btn--accent {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-accent-darken));
}

.btn--accent:hover {
    background-image: linear-gradient(to top, var(--color-accent), var(--color-accent-darken));
}

.pos-rel{
    position: relative;
}

.flex{
    display: flex;
}

.flex__self-align-start{
    align-self: flex-start;
}

.flex__self-align-center{
    align-self: center;
}

.flex__self-align-end{
    align-self: flex-end;
}