@keyframes pizeliuot {
    0% {
        left: 800px;
        top: 200px;
    }
    32%, 34% {
        left: -100px;
    }
    62%, 64% {
        left: 50px;
    }
    83%, 85% {
        left: -25px;
    }
    100% {
        left: 0;
        top: 0;
        opacity: 1;
    }
}