
 body {
	 color: #333;
	 padding: 20px;
	 text-align: center;
	 font-family: var(--font-simple);
}
 .separator {
	 margin-top: 40px;
}
 
/* 3D Cube */
 .space3d {
	 perspective: 1000px;
	 width: 300px;
	 height: 300px;
	 text-align: middle;
	 display: inline-block;
	 margin: 50px;
	 margin-top: 40px;
}
 ._3dbox {
	 display: inline-block;
	 transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 text-align: middle;
	 position: relative;
	 width: 100%;
	 height: 100%;
	 transform-style: preserve-3d;
	 transform: rotateX(5deg) rotateY(-5deg);
}
._3dbox-1 {
	display: inline-block;
	transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	text-align: middle;
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateX(5deg) rotateY(-5deg);
}
 ._3dface {
	 overflow: hidden;
	 position: absolute;
	 border: 1px solid var( --color-accent-darken);
	 background: #fff;
	 box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.3);
	 color: #fcfcfc;
	 line-height: 300px;
	 opacity: 0,9;
}
 ._3dface--front {
	 width: 300px;
	 height: 300px;
	 transform: translate3d(0, 0, 150px);
}
 ._3dface--top {
	 width: 300px;
	 height: 300px;
	 transform: rotateX(90deg) translate3d(0, 0, 150px);
}
 ._3dface--bottom {
	 width: 300px;
	 height: 300px;
	 transform: rotateX(-90deg) translate3d(0, 0, 150px);
}
 ._3dface--left {
	 width: 300px;
	 height: 300px;
	 left: 50%;
	 margin-left: -150px;
	 transform: rotateY(-90deg) translate3d(0, 0, 150px);
}
 ._3dface--right {
	 width: 300px;
	 height: 300px;
	 left: 50%;
	 margin-left: -150px;
	 transform: rotateY(90deg) translate3d(0, 0, 150px);
}
 ._3dface--back {
	 width: 300px;
	 height: 300px;
	 transform: rotateY(180deg) translate3d(0, 0, 150px);
}
 #radio-left:checked ~ .space3d ._3dbox {
	 transform: rotateY(90deg);
}
 #radio-right:checked ~ .space3d ._3dbox {
	 transform: rotateY(-90deg);
}
 #radio-bottom:checked ~ .space3d ._3dbox {
	 transform: rotateX(90deg);
}
 #radio-top:checked ~ .space3d ._3dbox {
	 transform: rotateX(-90deg);
}
 #radio-back:checked ~ .space3d ._3dbox {
	 transform: rotateY(180deg);
}
 ._3dface--front {
	 background: url(img/cubefront.jpg);
	 	 background-size:cover;
}
 ._3dface--left {
	  background: var( --color-accent);
}
 ._3dface--right {
	 background:var( --color-accent);
	
}
 ._3dface--top {
	 background:var( --color-accent);
}
 ._3dface--back {
	 background:var( --color-accent);
}
._3dface--bottom{
	background:var( --color-accent);
}
._3dface--front1 {
	width: 300px;
	height: 300px;
	transform: translate3d(0, 0, 150px);
	background: var( --color-accent);
}
._3dface--top1 {
	width: 300px;
	height: 300px;
	transform: rotateX(90deg) translate3d(0, 0, 150px);
	background: var( --color-accent);
}
._3dface--bottom1{
	width: 300px;
	height: 300px;
	transform: rotateX(-90deg) translate3d(0, 0, 150px);
	background: var( --color-accent);
}
._3dface--left1 {
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
	transform: rotateY(-90deg) translate3d(0, 0, 150px);
	background: var( --color-accent);
}
._3dface--right1 {
	width: 300px;
	height: 300px;
	left: 50%;
	margin-left: -150px;
	transform: rotateY(90deg) translate3d(0, 0, 150px);
	background: var( --color-accent);
}
._3dface--back1 {
	width: 300px;
	height: 300px;
	transform: rotateY(180deg) translate3d(0, 0, 150px);
	background: var( --color-accent);
}
#radio-bottom1:checked ~ .space3d ._3dbox-1 {
	transform: rotateX(90deg);
}
#radio-top1:checked ~ .space3d ._3dbox-1 {
	transform: rotateX(-90deg);
}
#radio-back1:checked ~ .space3d ._3dbox-1 {
	transform: rotateY(180deg);
}