.post {
    position: relative;
    padding-top: 400px;
}

.post__img {
    position: absolute;
    top: 0;
    z-index: -1
}

.post__header {
    position: absolute;
    margin: auto;
    top: 320px;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 40px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.808);
    text-align: center;
    font-size: 1.75rem;
    text-transform: capitalize
}

.post__body {
    width: 600px;
    margin: 4rem auto;
    text-indent: 3.5rem;
    font-size: 1.5rem;
    text-align: justify;
}